#phoneScreen{
  margin: 5px;
  padding: 10px;
  width: 414px;
  height: 655px;
  top: 0;
  left: 34%;
  border: solid;
  border-color: black;
  border-radius: 20px;
  position: absolute;
  background-color: #faf2ec;
}