/*date picker -------------------------------*/
#month{
    position:inherit;
    margin: 5px;
    padding: 10px;
    width: 20px;
    height: 10px;
    top: 15px;
    left: 160px;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #252f3f;
    background-color: transparent;
}

#month:hover{
  color: #8cafda;
  cursor: pointer;
}

#todayDate{
    position:inherit;
    margin: 5px;
    padding: 10px;
    top: 80px;
    left: 100px;
    background-color: #bdd3ed;
    color: #335484;
    border-radius: 25px;
    cursor: pointer;
}

#submitDate{
  position:inherit;
    margin: 5px;
    padding: 10px;
    height: 40px;
    width: 55px;
    text-align: center;
    top: 83px;
    left: 275px;
    border-radius: 25px;
    background-color: #bdd3ed;
    
}
#submitDate:hover{
  background-color: #8cafda;
  cursor: pointer;
}

#day{
  position:inherit;
    margin: 5px;
    padding: 10px;
    height: 20px;
    width: 200px;
    text-align: center;
    top: 80px;
    left: 100px;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color: transparent;
    background-color: #bdd3ed;
    color: #252f3f;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}



/*image display -------------------------------*/
#drinkDisplayWater{
  position: inherit;
  margin: 5px;
  top: 155px;
  left: 60px;
}
#drinkDisplayCoffee{
  position: inherit;
  margin: 5px;
  top: 155px;
  left: 60px;
}
#drinkDisplayTea{
  position: inherit;
  margin: 5px;
  top: 155px;
  left: 60px;
}
#drinkDisplayJuice{
  position: inherit;
  margin: 5px;
  top: 155px;
  left: 60px;
}
#drinkDisplayDrink{
  position: inherit;
  margin: 5px;
  top: 155px;
  left: 60px;
}


/*meter -------------------------------*/
#drinkMeter{
  position:absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 30px;
  border-color: #252f3f;
  border-radius: 1px;
  background-color: #335484;
  border: transparent;
  mask:inherit;
}

#drinkMeterBack{
  position:absolute;
  top: 500px;
  left: 40px;
  width: 340px;
  height: 30px;
  border-color: #252f3f;
  border-radius: 1px;
  background-color: #bdd3ed;
  border: solid;
}

#drinkGoal{
  position:absolute;
  border-radius: 50%;
  top: 475px;
  left: 325px;
  width: 70px;
  height: 70px;
  border: solid;
  border-width: 5px;
  border-color: #faf2ec;
  background-color: #252f3f;
}


#drinkGoal:hover{
  background-color: #8cafda;
  cursor: pointer;
}

#drinkGoal1{
  position:absolute;
  border-radius: 50%;
  top: 475px;
  left: 325px;
  width: 70px;
  height: 70px;
  border: solid;
  border-width: 5px;
  border-color: #faf2ec;
  background-color: #252f3f;
}

/*buttons ----------------------------*/
#hundredMl{
  position:inherit;
  top: 570px;
  left: 30px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  background-color: #252f3f;
  color: #faf2ec;
  border-radius: 15px;
}
#twoFiftyMl{
  position:inherit;
  top: 570px;
  left: 110px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  background-color: #252f3f;
  color: #faf2ec;
  border-radius: 15px;
}
#sixHundredMl{
  position:inherit;
  top: 570px;
  left: 190px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  background-color: #252f3f;
  color: #faf2ec;
  border-radius: 15px;

}
#eightFiftyMl{
  position:inherit;
  top: 570px;
  left: 270px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  background-color: #252f3f;
  color: #faf2ec;
  border-radius: 15px;

}
#litre{
  position:inherit;
  top: 570px;
  left: 350px;
  cursor: pointer;
  width: 60px;
  height: 70px;
  background-color: #252f3f;
  color: #faf2ec;
  border-radius: 15px;

}

/*Dropdown-------------------------*/
.dropdown{
    background-color: transparent;
    position: absolute;
    margin: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    top: 135px;
    left: 40px;
} 

.dropbtn {
  background-color: transparent;
  border-radius: 50%;
  padding: 16px;
  width: 300px;
  height: 300px;
  top: 40px;
  left: 150px;
  border: none;
  cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    opacity: 25%;
    background-color: #faf2ec;
    box-shadow: 0px 0px 24px 0px;
    box-shadow: #252f3f;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .drinkContent {
    display: none;
    position: absolute;
    border-radius: 50%;
    background-color: #f1f1f1;
    top: 6px;
    left: 6px;
    /*min-width: 550px;*/
    width: 305px;
    height: 305px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
  }
  

/*Buttons within dropdown ----------------------------*/  
#coffee{
  position: relative;
  margin: 5px;
  padding: 10px;
  top: -15px;
  left: -15px;
  display: block;
  background-color: transparent;
  cursor: pointer;
}
  #water{
    position: relative;
    margin: 5px;
    padding: 10px;
    top: -409px;
    left: 137px;
    display: block;
    background-color: transparent;
    cursor: pointer;
  }
  
  #tea{
    position: relative;
    margin: 5px;
    padding: 10px;
    top: -197px;
    left: 137px;
    display: block;
    background-color: transparent;
    cursor: pointer;
  }

  
  #juice{
    position: relative;
    margin: 5px;
    padding: 10px;
    top: -227px;
    left: -15px;
    display: block;
    background-color: transparent;
    cursor: pointer;
  }

  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  
/*phone screen --------------------------------*/
  #phoneScreen{
    margin: 5px;
    padding: 10px;
    width: 414px;
    height: 655px;
    top: 0;
    left: 34%;
    border: solid;
    border-color: black;
    border-radius: 20px;
    position: absolute;
    background-color: #faf2ec;
  }


/*navigation -------------------*/
  #naviBtn{
    position:absolute;
    margin: 5px;
    padding: 10px;
    width: 100px;
    height: 30px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #252f3f;
}
#naviBtn:hover{
  color: #8cafda;
  cursor: pointer;
}
#naviCloseBtn{
  position: inherit;
    top: 10px;
    right: 15px;
    margin-left: 50px;
    cursor: pointer;
    background-color: #faf2ec;
    border-radius: 5px;
    border-color: transparent;
    color: #252f3f;
}

#navigation{
  width: 0px; /* 0 width - change this with JavaScript */
  position: inherit; /* Stay in place */
  /* z-index: 1; Stay on top */
  top: 0px;
  left: 0px;
  height: 615px;
  border-radius: 20px;
  background-color: #252f3f; /* Black*/
   overflow-x: hidden; /*Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
#navigation a {
  position: relative;
  top: 5px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #faf2ec;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
#navigation a:hover {
  color: #bdd3ed;
}


/*user*/
#user{
  background-color: #252f3f;
  position: inherit;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 345px;
  border-radius: 50%;

}

/*Fancy css stuff*/
#colour1{
  background-color: #252f3f;
  position: inherit;
  width: 434px;
  height: 5px;
  top: 10px;
  left: 0px;

}
#colour2{
  background-color: #252f3f;
  position: inherit;
  width: 434px;
  height: 5px;
  top: 660px;
  left: 0px;

}