/*phone screen --------------------------------*/
#phoneScreen{
  margin: 5px;
  padding: 10px;
  width: 410px;
  height: 655px;
  top: 0;
  left: 34%;
  border: solid;
  border-color: black;
  border-radius: 20px;
  position: absolute;
  background-color: #ffffff;
}

#login{
  width: 410px;
  height: 655px;
  border: solid;
  left: 0;
  top: 0;
  border-color: transparent;
  position: inherit;
}


#loginTxt1{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 80px;
  height: 10px;
  top: 210px;
  left: 180px;
  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #252f3f;
}

#loginTxt2{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 10px;
  top:140px;
  left: 110px;
  border-color: transparent;
  font-family: Apple Chancery, cursive;
  font-size: 40px;
  color: #335484;
}


#loginUsername{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 260px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#loginPassword{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 300px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#loginSubmit{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 80px;
  top: 340px;
  left: 170px;
  text-align: center;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #bdd3ed;
  cursor: pointer;
}
#loginSubmit:hover{
  background-color: #8cafda;
  color: #faf2ec;
  box-shadow: 0px 0px 30px 0px;
  box-shadow: #252f3f;
}
#loginNewAccount{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 300px;
  top: 400px;
  left: 115px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
#loginSignUp{
  color: #335484;
  text-decoration: underline;
  cursor: pointer;

}
#loginSignUp:hover{
  color: #8cafda;

}

#Ldisplay1{
    background-color: #252f3f;
    position: inherit;
    width: 100px;
    height: 4px;
    top: 390px;
    left: 165px;
  
  }

  #loginError{
    position:inherit;
    margin: 5px;
    padding: 5px;
    width: 300px;
    top: 420px;
    left: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: red;
    cursor: pointer;
  
  }



  /* signUp PAGE */
#signUp{
    width: 410px;
    height: 655px;
    border: solid;
    left: 0;
    top: 0;
    border-color: transparent;
    position: inherit;
  }

#signUpTxt1{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 100px;
  height: 10px;
  top: 130px;
  left: 160px;
  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: #252f3f;
}
#signUpProfile{
  position:inherit;
  top: 180px;
  left: 165px;
}
#profile-pic{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 70px;
  height: 70px;
  top: 180px;
  left: 165px;
  border-radius: 50%;
  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #252f3f;
  background-color: #bdd3ed;
}

/*
#signUpPopUp{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 300px;
  height: 300px;
  top: 0px;
  left: -115px;
  border-radius: 5%;
  border-color: transparent;
  
  font-size: 20px;
  color: #252f3f;
  background-color: #faf2ec;
  box-shadow: 0px 0px 15px 0px;
  box-shadow: #252f3f;
}
#pfp1{
  position:inherit;
  margin: 5px;
  padding: 10px;
  width: 70px;
  height: 70px;
  top: 180px;
  left: 165px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 20px;
  color: #252f3f;
  background-color: #bdd3ed;
}*/


#signUpFname{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 300px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#signUpLname{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 340px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#signUpUsername{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 380px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#signUpPassword{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 420px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#signUpCheckPassword{
  position:inherit;
  margin: 5px;
  padding: 10px;
  height: 5px;
  width: 140px;
  top: 460px;
  left: 130px;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #faf2ec;
}
#signUpSubmit{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 80px;
  top: 520px;
  left: 170px;
  text-align: center;
  border-style: solid;
  border-color: #252f3f;
  border-radius: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #252f3f;
  background-color: #bdd3ed;
  cursor: pointer;
}
#signUpSubmit:hover{
  background-color: #8cafda;
  color: #faf2ec;
  box-shadow: 0px 0px 30px 0px;
  box-shadow: #252f3f;
}

#signUpNewAccount{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 300px;
  top: 275px;
  left: 135px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
#signUpLogin{
  color: #335484;
  text-decoration: underline;
  cursor: pointer;

}
#signUpLogin:hover{
  color: #8cafda;

}
#signUpError{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 300px;
  top: 560px;
  left: 65px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: red;
  cursor: pointer;

} 
#signUpErrorP{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 300px;
  top: 560px;
  left: 128px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: red;
  cursor: pointer;

}
#signUpErrorE{
  position:inherit;
  margin: 5px;
  padding: 5px;
  width: 300px;
  top: 560px;
  left: 110px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: red;
  cursor: pointer;

} 
